@charset "UTF-8";
@import url("fonts/fonts.scss");
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  --webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-weight: 500;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header .navbar-toggle {
  padding: 11px 8px;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  position: relative;
  outline: none;
  float: right;
  display: none;
}

.c-header .navbar-toggle .icon-bar {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000;
}

.c-header .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}

.c-header .navbar-toggle .menu-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 6px;
}

.c-header .header-top {
  width: 100%;
  height: 30px;
  overflow: hidden;
  background-color: #222222;
}

.c-header .header-top--wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.c-header .header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-header .header-top__list--item {
  margin-bottom: 0;
  line-height: 1;
}

.c-header .header-top__list--item__link {
  color: #fff;
  font-size: 1.2rem;
  padding: 0 20px;
  border-right: 1px solid #fff;
}

.c-header .header-top__list--item__link:hover {
  text-decoration: underline;
}

.c-header .header-top__list--item:last-child .header-top__list--item__link {
  border: none;
  padding-right: 0;
}

.c-header .header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
}

.c-header .header_wrap .logo img {
  max-width: 235px;
}

.c-header .global_nav ul {
  /*display: flex;
	    justify-content: flex-end;*/
  font-size: 0;
}

.c-header .global_nav ul li:last-child a {
  padding-right: 0;
}

.c-header .global_nav li {
  display: inline-block;
  vertical-align: middle;
}

.c-header .global_nav a {
  padding: 0 22px;
  display: block;
  position: relative;
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .c-header .header_wrap {
    padding: 10px 0 0 0;
    display: block;
  }
  .c-header .navbar-toggle {
    cursor: pointer;
    position: relative;
    outline: none;
    float: right;
    display: none;
  }
  .c-header .navbar-toggle .icon-bar {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000;
  }
  .c-header .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  .c-header .navbar-toggle .menu-text {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 6px;
    line-height: 1.2rem;
    display: block;
  }
  .c-header .header-top {
    display: none;
  }
  .c-header .navbar-toggle {
    display: block;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
  }
  .c-header .header_wrap--left {
    width: 100%;
    font-size: 0;
    display: inline-block;
  }
  .c-header .logo {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .c-header .logo img {
    max-width: 180px;
  }
  .c-header .global_nav {
    background-color: #000;
    display: none;
    width: 100vw;
  }
  .c-header .global_nav ul {
    display: block;
    width: 100%;
  }
  .c-header .global_nav li {
    display: block;
  }
  .c-header .global_nav a {
    color: #fff;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #fff;
  }
  .navbar-toggle.open .icon-bar:nth-child(1) {
    -webkit-transform: translate(-1px, 10px) rotate(-215deg);
            transform: translate(-1px, 10px) rotate(-215deg);
  }
  .navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: translate(0px, -8px) rotate(215deg);
            transform: translate(0px, -8px) rotate(215deg);
  }
}

/* Main menu
------------------------------------------------------------*/
.banner-slide__extension-box p {
  font-size: 20px;
  line-height: 40px;
}

.slide-item {
  position: relative;
}

.slide-item img {
  display: block;
  width: 100%;
}

.slide-item .banner-content {
  position: absolute;
  top: 125px;
  text-align: center;
  color: #fff;
  z-index: 2;
  max-width: 1100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide-item .banner-title {
  margin-bottom: 60px;
}

.slick-slide img.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .slick-slide img.sp-only {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .slick-slide img.pc-only {
    display: none;
  }
  .slide-item .banner-content {
    top: 80px;
    left: 15px;
    right: 15px;
    max-width: 100%;
    -webkit-transform: none;
            transform: none;
  }
  .slide-item__img {
    position: relative;
    width: 100vw;
  }
  .slide-item__img img {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  .slide-item__img:before {
    content: '';
    padding-top: 66.9%;
    display: block;
  }
  .banner-slide__extension-box p {
    font-size: 1.3rem;
    line-height: 1.3;
  }
  .slide-item .banner-title {
    margin-bottom: 30px;
  }
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 40px;
  padding-bottom: 45px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 50px;
}

.c-footer--top .address-footer {
  margin-left: 70px;
}

.c-footer--top .address-footer p {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #222222;
}

.c-footer--top .address-footer p span {
  font-size: 1.5rem;
  line-height: 3rem;
}

.c-footer--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav-col {
  position: relative;
  -ms-flex-preferred-size: 255px;
      flex-basis: 255px;
}

.footer-nav-col > :first-child {
  margin-top: 0;
}

.footer-nav-col > a {
  display: block;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 15px;
}

.footer-nav-col > ul {
  margin-top: 20px;
}

.footer-nav-col > ul > li {
  margin-top: 8px;
  position: relative;
}

.footer-nav-col > ul > li:first-child {
  margin-top: 0;
}

.footer-nav-col > ul > li > a {
  position: relative;
  display: block;
  padding-left: 15px;
  line-height: 2.6rem;
  font-size: 1.3rem;
}

.footer-nav-col > ul > li i {
  position: absolute;
  left: 0px;
  top: 6px;
  font-size: 1.4rem;
}

.c-footer--bottom {
  padding-top: 55px;
  padding-bottom: 50px;
}

.c-footer--bottom .base-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-footer--bottom .base-links li {
  -ms-flex-preferred-size: 222px;
      flex-basis: 222px;
}

.c-footer--bottom .base-links li a {
  font-size: 1.5rem;
  font-weight: bold;
}

#footer-copyright {
  margin-bottom: 0;
  padding: 18px 0;
  letter-spacing: 0;
  text-align: center;
  background-color: #222222;
}

#footer-copyright span {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
}

@media only screen and (max-width: 767px) {
  .c-footer--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0;
    border: none;
  }
  .c-footer--top .address-footer {
    margin-left: 0;
    text-align: center;
  }
  .c-footer--top .address-footer p {
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin-bottom: 7px;
    color: #525252;
  }
  .c-footer--top .address-footer p .pc-only {
    display: none !important;
  }
  .logofter {
    margin-bottom: 17px;
  }
  .logofter img {
    max-width: 180px;
  }
  .c-footer--content, .c-footer--bottom {
    display: none;
  }
  #footer-copyright {
    padding: 10px 0;
  }
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  min-width: 1110px;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  width: 1110px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-container {
    width: 100%;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.main-btn {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #FCD000;
  background-color: #FCD000;
  color: #000;
  padding: 19px 114px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  -webkit-transition: 0.3s;
  line-height: 20px;
  transition: 0.3s;
}

.main-btn img {
  display: block;
}

.main-btn.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .main-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 35px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.3rem;
  }
  .main-btn i {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  .main-btn.pc-only {
    display: none;
  }
  .main-btn.sp-only {
    display: block;
  }
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.comp-main-title .main-title span {
  font-weight: bold;
  font-size: 40px;
  color: #2b3a58;
  text-transform: uppercase;
  display: block;
  line-height: 1.2;
}

.comp-main-title .main-title img.sp-only {
  display: none;
  margin: auto;
}

.comp-main-title .comp-main-title .discription {
  max-width: 630px;
  display: inline-block;
  margin-top: 40px;
}

.title-tag-border, .intro--infoone__right .tittle, .intro--infotwo__left .tittle {
  display: inline-block;
  border: 1px solid #000;
  padding: 2px 13px;
  line-height: 24px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  letter-spacing: 1.3px;
}

@media only screen and (max-width: 767px) {
  .comp-main-title .main-title img.sp-only {
    display: block;
    margin: auto;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.font-Hiragino-Mincho {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.text-c {
  text-align: center;
}

.fz-0 {
  font-size: 0;
}

/*=====Order=======*/
.order {
  padding: 23px 20px;
  background-color: #EEEEEE;
  text-align: center;
}

.order p {
  font-size: 1.5rem;
  line-height: 1.111;
}

.order .order-tel {
  margin-top: 25px;
  border: 1px solid #82141A;
  display: block;
  padding: 15px 45px;
  background-color: #FFFFFF;
}

.order .order-tel img {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.order .order-tel span {
  font-size: 1.3rem;
  line-height: 1.111;
}

/*====End-Order======*/
/*====Start-Services===*/
.guide-section {
  background-color: #EEEEEE;
  padding-top: 60px;
  padding-bottom: 90px;
}

.guide-section .tab-main {
  background-color: #fff;
}

.guide-tab-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  text-align: center;
}

.guide-tab-nav .tab-nav-link {
  width: 555px;
  padding-top: 22px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding-bottom: 22px;
}

.guide-tab-nav .tab-nav-link.current {
  background-color: #FCD000;
  color: #000;
}

.guide-tab-nav .tab-nav-link.current:after {
  display: inline-block;
}

.guide-tab-nav .tab-nav-link .discription {
  font-size: 1.4rem;
  line-height: 20px;
}

.guide-tab-nav .guide-tab-title {
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.guide-tab-nav .tab-nav-link::after {
  content: '';
  border: 10px solid transparent;
  border-top-color: #FCD000;
  display: none;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.guide-tab-content {
  padding: 65px 0;
}

.guide-tab-content .column.right, .guide-tab-content .column.left {
  width: 555px;
}

.guide-tab-content .column.left {
  padding-left: 64px;
}

.guide-tab-content .column.right {
  padding-left: 13px;
}

.guide-tab-content .guide-content-title {
  font-size: 2.4rem;
  margin-bottom: 35px;
  font-weight: 500;
  line-height: 3.2rem;
}

.guide-tab-content .guide-content p {
  margin-bottom: 68px;
  font-size: 1.5rem;
  line-height: 2.7rem;
}

.guide-tab-content .guide-content .right img {
  margin: auto;
}

.listservice {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
  background-color: #EEEEEE;
  margin: 60px 65px;
}

.listservice__itemfist {
  width: 265px;
  border: 1px solid;
  background: #222222;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listservice__itemfist--content > * {
  font-size: 1.3rem;
}

.listservice__itemlast {
  width: calc(100% - 265px);
  font-size: 0;
}

.listservice__item {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 30px 36px;
}

.listservice__item .item-img img {
  max-width: 95px;
  border-radius: 100%;
  margin: auto;
}

.listservice__item .item-img h4 {
  font-size: 1.5rem;
  margin-top: 15px;
  font-weight: 400;
}

/*====End-Services===*/
/*====START-NEWS===*/
.news-section {
  padding-top: 70px;
}

.news-section .comp-main-title .discription {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 10px;
}

.list-news {
  margin-top: 6px;
  padding-left: 54px;
  padding-right: 54px;
}

.list-news__read-all {
  text-align: right;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  margin-bottom: 65px;
}

.list-news__read-all a {
  margin-left: 10px;
  font-size: 1.4rem;
}

.list-news__read-all i {
  font-size: 1.4rem;
}

.news-row {
  padding-bottom: 20px;
  background-image: url("../../../assets/img/index/line-dotted.png");
  background-position: bottom;
  background-repeat: repeat-x;
}

.news-row + .news-row {
  margin-top: 20px;
}

.news-row .date {
  margin-right: 15px;
  color: #222222;
}

.news-row > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}

.news-row .new-item {
  padding-left: 26px;
}

.news-row .new-item span {
  font-size: 1.5rem;
  line-height: 2rem;
}

.news-row .new-item.hot span {
  margin: 0 5px;
  border-radius: 25px;
  height: 27px;
  line-height: 27px;
  background-color: #FCD000;
  color: #fff;
  padding: 4px 30px;
}

.news-row--readmore {
  font-size: 13px;
  float: right;
  padding-top: 9px;
}

/*====END-NEWS===*/
/*====START-INTRODUCE===*/
.introduce-section {
  margin-top: 90px;
}

.introduce-section .intro--infoone {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.introduce-section .intro--infoone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.introduce-section .intro--infotwo > * {
  display: inline-block;
  vertical-align: top;
}

.intro--infoone__right {
  max-width: 555px;
  padding-left: 45px;
  padding-top: 45px;
  padding-bottom: 93px;
}

.intro--infoone__right .slogan {
  font-size: 2.4rem;
  margin-bottom: 35px;
  line-height: 2.4rem;
}

.intro--infoone__right .descript-summary {
  font-size: 1.5rem;
  line-height: 2.6rem;
}

.intro--infoone__right .main-btn {
  margin-top: 35px;
}

.intro--infoone__img {
  width: 50%;
}

.intro--infoone__img img {
  height: 100%;
  width: 100%;
}

.intro--infotwo {
  margin-top: 100px;
}

.intro--infotwo__left {
  width: calc(100% - 660px);
  background-color: #FCD000;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.intro--infotwo__left .slogan {
  font-size: 2.4rem;
  margin-bottom: 25px;
  line-height: 2.4rem;
}

.intro--infotwo__left .descript-summary {
  font-size: 1.5rem;
  line-height: 2.6rem;
}

.intro--infotwo__left .main-btn {
  margin-top: 45px;
}

.intro--infotwo__img {
  max-width: 660px;
}

.intro--infotwo__img img {
  height: 100%;
}

/*====END-INTRODUCE===*/
/*==START-bannerindex-section======*/
.bannerindex-section {
  margin-top: 100px;
  color: #fff;
  position: relative;
}

.bannerindex-section .bannerindex__img {
  position: relative;
}

.bannerindex-section .bannerindex__img:before {
  content: '';
  padding-top: 21.499%;
  display: block;
}

.bannerindex-section .bannerindex__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.bannerindex-section .banind--title {
  position: absolute;
  top: 134px;
  text-align: center;
  width: 1100px;
  max-width: 1100px;
}

.bannerindex-section .banind--title h3 {
  font-size: 2.8rem;
  margin-bottom: 49px;
  line-height: 2.8rem;
}

.banind--listHotline {
  position: absolute;
  top: 200px;
}

.banind--listHotline > * {
  display: inline-block;
  vertical-align: middle;
}

.banind--listHotline {
  margin: 0 -15px;
}

.banind--listHotline .item {
  padding: 0 15px;
}

.banind--listHotline__hotline {
  padding: 11px 54.5px;
  background-color: rgba(30, 20, 26, 0.6);
  border: 1px solid #989A9E;
}

.banind--listHotline__hotline p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 7px;
  letter-spacing: 0.08rem;
}

.banind--listHotline .mail {
  background-color: #82141A;
  overflow: hidden;
  border: 1px solid #fff;
  padding: 30px 49px;
}

.banind--listHotline .mail > * {
  font-size: 2rem;
  line-height: 2rem;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
}

.banind--listHotline .mail .sp-only {
  display: none;
}

.banind--listHotline .mail:hover {
  opacity: 0.9;
  -webkit-filter: none;
          filter: none;
}

.banind--listHotline .mail i {
  margin-left: 29px;
}

/*====END-bannerindex-section===*/
@media screen and (max-width: 767px) {
  .l-container {
    width: 100%;
  }
  /*=====Order-Guide======*/
  .guide-section {
    padding-top: 0;
    padding-bottom: 28px;
    background-color: #fff;
  }
  .guide-tab-nav .tab-nav-link {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .guide-tab-nav .tab-nav-link .discription {
    font-size: 1.3rem;
    line-height: 1.4;
    color: #222222;
  }
  .guide-tab-nav .guide-tab-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 5px;
  }
  .guide-tab-content {
    padding: 0;
  }
  .guide-tab-content .column.left {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .guide-tab-content .guide-content-title {
    font-size: 1.3rem;
    margin-bottom: 16px;
    margin-top: 14px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1.5px;
  }
  .guide-tab-content .guide-content-title h3 {
    font-weight: 400;
  }
  .guide-tab-content .guide-content p {
    line-height: 1.227;
    font-size: 1.3rem;
    margin-bottom: 26px;
  }
  .guide-tab-content .column.right {
    padding-left: 20px;
    padding-right: 20px;
  }
  .guide-tab-content .listservice {
    margin-top: 33px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
  .listservice__itemfist {
    margin-bottom: 15px;
    width: 100%;
    padding: 9px;
  }
  .listservice__itemfist--content {
    position: relative;
  }
  .listservice__itemfist--content p {
    line-height: 20px;
  }
  .listservice__itemfist--content span {
    display: none;
  }
  .listservice__itemlast, .listservice__item {
    width: 100%;
    display: block;
  }
  .listservice__item {
    padding: 0;
    padding-left: 15px;
    text-align: left;
  }
  .listservice__item .readmore i {
    font-size: 1.6rem;
  }
  .listservice__item + .listservice__item {
    margin-top: 20px;
  }
  .listservice__item .item-img > * {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
  }
  .listservice__item .item-img img {
    max-width: 50px;
    margin-right: 15px;
  }
  .listservice__item .item-img h4 {
    font-size: 1.3rem;
    margin: auto;
    line-height: 1.111;
  }
  .listservice__item .item-img .readmore {
    font-size: 1.8rem;
    text-align: right;
    float: right;
    line-height: 50px;
    margin-right: 20px;
  }
  /*=====End-Order-Guide======*/
  /*=====Start-News======*/
  .news-section {
    padding-top: 0;
  }
  .news-section .list-news {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .list-news i {
    display: none;
  }
  .list-news .list-news__read-all {
    margin-bottom: 18px;
  }
  .list-news .main-btn {
    margin: 35px 0;
    font-size: 1.3rem;
    padding: 7px;
    color: #222222ad;
  }
  .list-news .main-btn i {
    display: inline-block;
    margin-left: 18px;
    color: #000;
    font-size: 1.2rem;
    vertical-align: middle;
    padding-bottom: 2px;
  }
  .news-row {
    padding-bottom: 10px;
    background-image: url(../../../assets/img/index/line-dotted-rp.png);
  }
  .news-row--readmore {
    display: none;
  }
  .news-row .date {
    margin-right: 5px;
    font-size: 1.3rem;
  }
  .news-row .new-item {
    padding-left: 0px;
  }
  .news-row .new-item span {
    font-size: 1.3rem;
  }
  .news-row .new-item.hot span {
    display: inline-block;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1rem;
    line-height: 15px;
    vertical-align: middle;
    padding: 1px 5px;
    font-size: 1.2rem;
    margin: 0 3px;
  }
  /*=====End-News======*/
  /*========Start-Introduce===*/
  .introduce-section {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .introduce-section .intro--infoone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .introduce-section .intro--infoone__img {
    width: 100%;
  }
  .introduce-section .intro--infoone__right {
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }
  .introduce-section .intro--infoone__right .descript-summary {
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: #222222ad;
  }
  .introduce-section .intro--infoone .slogan {
    font-size: 1.5rem;
    margin-bottom: 11px;
    line-height: 1.1;
    font-weight: bold;
  }
  .introduce-section .intro--infoone .tittle {
    padding: 0;
    margin-top: 14px;
    font-size: 1.5rem;
    height: 25px;
    line-height: 25px;
    padding-left: 6px;
    color: #222222;
    padding-right: 6px;
    margin-bottom: 12px;
  }
  .introduce-section .intro--infotwo {
    margin-top: 0;
  }
  .introduce-section .intro--infotwo > * {
    display: block;
  }
  .introduce-section .intro--infotwo__img {
    margin-top: 6px;
    position: relative;
  }
  .introduce-section .intro--infotwo__img:before {
    content: '';
    padding-top: 33.857%;
    display: block;
  }
  .introduce-section .intro--infotwo__img img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    right: 100%;
    width: 100%;
  }
  .introduce-section .intro--infotwo__left {
    width: 100%;
    background-color: #fff;
    padding: 0;
  }
  .introduce-section .intro--infotwo__left .tittle {
    margin-top: 15px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 0px 13px;
  }
  .introduce-section .intro--infotwo__left .slogan {
    font-size: 1.5rem;
    margin-bottom: 5px;
    line-height: 2.4rem;
    font-weight: 700;
  }
  .introduce-section .intro--infotwo__left .descript-summary {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  .intro--infoone__img {
    position: relative;
    margin-top: 10px;
  }
  .intro--infoone__img img {
    width: 100%;
    height: 175px;
  }
  .intro--infoone__img .main-btn.img-read-sp {
    margin-top: 30px;
    margin-bottom: 35px;
    display: block;
    padding: 6px 35px;
    color: #222222;
  }
  .intro--infoone__img .main-btn.img-read-sp img {
    width: auto;
    height: auto;
    margin: auto;
  }
  .intro--infoone__img .main-btn.img-read-sp i {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 14px;
    color: #000;
  }
  /*===End-introduce-section====*/
  /*=========Start-bannerindex-section===========*/
  .bannerindex-section {
    padding-bottom: 0;
    margin-top: 35px;
  }
  .bannerindex-section .bannerindex__img {
    border-bottom: 1px solid #6F706B;
  }
  .bannerindex-section .bannerindex__img:before {
    padding-top: 86.07%;
  }
  .bannerindex-section .banind--title {
    width: 100%;
    max-width: 100%;
    top: 30px;
  }
  .bannerindex-section .banind--title h3 {
    font-size: 1.5rem;
    margin-bottom: 18px;
    line-height: 1.2rem;
    font-weight: 400;
    text-shadow: 2px 2px 2px #736C5B;
  }
  .bannerindex-section .banind--listHotline__hotline {
    padding: 15px 28px;
  }
  .bannerindex-section .banind--listHotline__hotline p {
    font-size: 1.3rem;
    line-height: 1.2rem;
    margin-bottom: 8px;
  }
  .banind--listHotline {
    margin: 0;
    left: 20px;
    right: 20px;
    position: absolute;
    top: 63px;
  }
  .banind--listHotline .mail {
    display: block;
    background-color: #82141A;
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    border-color: #82141A;
    padding: 22px 15px;
    margin-top: 20px;
  }
  .banind--listHotline .mail .pc-only {
    display: none;
  }
  .banind--listHotline .mail .sp-only {
    display: block;
    margin: auto;
  }
  .banind--listHotline .item {
    margin-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .banind--listHotline .item img {
    margin: auto;
  }
  .banind--listHotline > * {
    display: block;
    width: 100%;
  }
  /*=========End-bannerindex-section===========*/
}

/*====4. 
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@media only screen and (max-width: 767px) {
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    width: 100vw;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
