
@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSans-Bold/OpenSansBold.eot');
    src: url('OpenSans-Bold/OpenSansBold.eot') format('embedded-opentype'),
         url('OpenSans-Bold/OpenSansBold.woff2') format('woff2'),
         url('OpenSans-Bold/OpenSansBold.woff') format('woff'),
         url('OpenSans-Bold/OpenSansBold.ttf') format('truetype'),
         url('OpenSans-Bold/OpenSansBold.svg#OpenSansBold') format('svg');
}

