/* Header
------------------------------------------------------------*/
.c-header{
	.navbar-toggle {
	    padding: 11px 8px;
	    background-color: transparent;
	    background-image: none;
	    cursor: pointer;
	    position: relative;
	    outline: none;
	    float: right;
	    display: none;
	    .icon-bar {
	        transition: all .3s ease-in-out;
	        display: block;
	        width: 35px;
	        height: 4px;
	        background-color: #000;
	        & +.icon-bar{
    			margin-top: 5px;
			}
	    }
	    .menu-text{
	    	font-size: 1.2rem;
	    	text-transform: uppercase;
	    	margin-top: 6px;
	    }
	}

	.header-top {
	  width: 100%;
	  height: 30px;
	  overflow: hidden;
	  background-color: #222222;
	  &--wrap {
	  	height: 100%;
	  	display: flex;
	  	align-items: center;
	  	justify-content: flex-end;
	  }
	  &__list {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	  }
	}
	.header-top__list--item {
	  margin-bottom: 0;
	  line-height: 1;
	  &__link {
	    color: #fff;
	    font-size: 1.2rem;
	    padding: 0 20px;
	    border-right: 1px solid #fff;
	    
	    &:hover {
	      text-decoration: underline;
	    }
	  }
	  &:last-child{
	  	.header-top__list--item__link {
	  		border: none;
	  		padding-right: 0;
	  	}
	  }
	}
	.header_wrap {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding: 25px 0px;
	  
	}
	.logo{
		img{
			max-width: 235px;
		}
	}

	.global_nav {
	  ul {
	    /*display: flex;
	    justify-content: flex-end;*/
	    font-size: 0;
	    li:last-child a{
	    	padding-right: 0;
	    }
	  }
	  li {
	      display: inline-block;
	      vertical-align: middle;
	  }
	  a {
	    padding: 0 22px;
	    display: block;
	    position: relative;
	    text-decoration: none;
	    color: #000000;
	    font-size: 1.5rem;
	  }
	}
}

@include breakpoint(sp) {
.c-header{
		.header_wrap{
			padding: 2px 0 0 0;
			display: block;
		}
		.navbar-toggle {
		    cursor: pointer;
		    position: relative;
		    outline: none;
		    float: right;
		    display: none;
		    .icon-bar {
		        transition: all .3s ease-in-out;
		        display: block;
		        width: 35px;
		        height: 4px;
		        background-color: #000;
		        & +.icon-bar{
	    			margin-top: 5px;
				}
		    }
		    .menu-text{
		    	font-size: 1.2rem;
		    	text-transform: uppercase;
		    	margin-top: 6px;
		    	line-height: 1.2rem;
		    	display: block;
		    }
		}
		.header-top{
			display: none;
		}
		.navbar-toggle{
		    display: block;
		    text-align: center;
		    margin-right: 10px;
		}
		.header_wrap--left {
		    width: 100%;
		    font-size: 0;
		    display: inline-block;
		}
		.logo {
			display: inline-block;
			margin-bottom: 10px;
			margin-top: 10px;
			margin-left: 10px;
		    img{
		    	max-width: 180px;
		    }
		}
		.global_nav{
			background-color: #222222;
			display: none;
			width: 100vw;
			ul {
		    	display: block;
		    	width: 100%;
		    }
		    li{
		    	display: block;
		    }
		    a{
		    	color: #fff;
		    	padding-top: 12px;
		    	padding-bottom: 12px;
		    	border-bottom: 1px solid #919191;
		    }
		}
}
	.navbar-toggle.open{
		.icon-bar:nth-child(1) {
	    	transform: translate(-1px, 10px) rotate(-215deg);
	    }
	    .icon-bar:nth-child(2) {
	    	    opacity: 0;
	    }
	    .icon-bar:nth-child(3) {
	    	transform: translate(0px, -8px) rotate(215deg);
	    }
	}
}
/* Main menu
------------------------------------------------------------*/
.c-gnavi{
}