.banner-slide {
    &__extension-box{
        p{
            font-size: 20px;
            line-height: 40px;
        }
    }
}
.slide-item {
    position: relative;
    img{
        display: block;
        width: 100%;
    }
    .banner-content {
        position: absolute;
        top: 125px;
        text-align: center;
        color: #fff;
        z-index: 2;
        max-width: 1100px;
        left: 50%;
        transform: translateX(-50%);
    }
    .banner-title {
        margin-bottom: 60px;
    }
}
.slick-slide img.sp-only {
    display: none;
}
@include breakpoint(sp) {
    .slick-slide img.sp-only {
        display: block;
    }
}
@include breakpoint(sp) {
    .slick-slide img.pc-only{
        display:none;
    }
    .slide-item .banner-content{
        top: 80px;
        left: 15px;
        right: 15px;
        max-width: 100%;
        transform: none;
    }
    .slide-item__img{
    	position: relative;
    	width: 100vw;
    	img{
    		position: absolute;
    		top: 0px;
    		left: 0;
    		right: 0;
    		bottom: 0;
    		height: 100%;
    		width: 100%;
    	}
    	&:before {
	        content: '';
	        padding-top: 66.9%;
	        display: block;
    	}
    }
    .banner-slide__extension-box p {
        font-size: 1.3rem;
        line-height: 1.3;
    }
    .slide-item .banner-title {
        margin-bottom: 30px;
    }
}
