/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-title1{
	
}
.comp-main-title {
	 .main-title {
		 span {
		    font-weight: bold;
		    font-size: 40px;
		    color: #2b3a58;
		    text-transform: uppercase;
		    display: block;
		    line-height: 1.2;
		}
		img.sp-only{
			display: none;
			margin: auto;
		}
	}
	.comp-main-title .discription {
	    max-width: 630px;
	    display: inline-block;
	    margin-top: 40px;
	}
}
.title-tag-border{
	display: inline-block;
	border: 1px solid #000;
	padding: 2px 13px;
	line-height: 24px;
	margin-bottom: 20px;
	font-size: 1.6rem;
	letter-spacing: 1.3px;
}
@include breakpoint(sp) {
	.comp-main-title {
		 .main-title {
			img.sp-only{
				display: block;
				margin: auto;
			}
	}	}
}